<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p role="alert">No estás autorizado para acceder a este recurso.</p>
                    }
                </NotAuthorized>
                <Authorizing>
                    <div class="d-flex flex-row">
                        <div class="p-2 spinner-border text-info" role="status" />
                        <div class="p-2">Autorizando...</div>
                    </div>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>No encontrado</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Lo siento, nada por aquí...</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
