@page "/fetchcitasmedico"

<PageTitle>Citas</PageTitle>

@if (citas == null)
{
    <p><em>Cargando...</em></p>
}
else if (citas.Count == 0)
{
    <text>No hay citas</text>
}else
{
    <table class="table">
        <thead>
            <tr>
                <th>Operaciones</th>
                <th>Motivo</th>
                <th>Paciente</th>
                <th>Fecha y hora</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cita in citas)
            {
                @switch (cita.Estado)
                {
                    case "Cancelada": case "Pasada":
                        rowClass = "table-secondary";
                        break;
                    case "Pendiente":
                        rowClass="";
                        break;
                    default:
                        rowClass = "table-info";
                        break;
                }

                <tr class="@rowClass">
                    <td class="align-middle">
                        @if(cita.Estado.Equals("Cancelada")||cita.Estado.Equals("Pasada")){
                            <a class="btn btn-dark" disabled>Cancelar</a>
                        }else{
                            <a class="btn btn-dark" @onclick="(() => CancelarCita(cita.Id))">Cancelar</a>
                        }
                        <a class="btn btn-light" @onclick="(() => BorrarCita(cita.Id))">Borrar</a>
                    </td>
                    <td class="align-middle">@cita.Motivo</td>
                    <td class="align-middle">@cita.Paciente.Apellidos</td>
                    <td class="align-middle">@cita.FechaHora</td>
                    <td class="align-middle">
                        @if(cita.Estado.Equals("Pendiente")){
                            <a class="btn btn-info" @onclick="(() => AceptarCita(cita.Id))">@cita.Estado</a>
                        }else{
                            @cita.Estado
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string _authMessage;       
    private string _userId;
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();
    private List<Cita>? citas;
    private string rowClass = "";

    protected override async Task OnInitializedAsync()
    {
        GetClaimsPrincipalData();
        citas = await getCitas();
    }

    private async Task BorrarCita(int CitaId)
    {
        var citaBorrada = citas.First(x => x.Id == CitaId);
        string confirmacion = $"¿Deseas borrar la cita con motivo:\n{citaBorrada.Motivo}?";

        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = confirmacion,
                Text = "No será posible recuperar el registro una vez borrado",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Sí, borrar",
                CancelButtonText = "No, volver"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            await Swal.FireAsync(
              "Borrada",
              "su cita se ha borrado.",
              SweetAlertIcon.Success
              );
              await Http.DeleteAsync($"api/Citas/{CitaId}");
            citas = await getCitas();

        }
        else if (result.Dismiss == DismissReason.Cancel)
        {
            await Swal.FireAsync(
              "Cancelada",
              "Operación de borrado candelada. Su cita sigue en vigor.",
              SweetAlertIcon.Error
              );
        }
    }

    private async Task CancelarCita(int CitaId)
    {
        var citaCancelada = citas.First(x => x.Id == CitaId);
        citaCancelada.Estado = "Cancelada";
        //citaAceptada.Paciente = null;
        string confirmacion = $"¿Deseas cancelar la cita con motivo:\n{citaCancelada.Motivo}?";
        if (await JS.InvokeAsync<bool>("confirm", confirmacion))
        {
            await Http.PutAsJsonAsync($"api/Citas/{CitaId}", citaCancelada);
            citas = await getCitas();
        }
    }

    private async Task AceptarCita(int CitaId)
    {
        var citaAceptada = citas.First(x => x.Id == CitaId);
        citaAceptada.Estado = "Aceptada";
        //citaAceptada.Paciente = null;
        string confirmacion = $"¿Deseas aceptar la cita con motivo:\n{citaAceptada.Motivo}?";
        if (await JS.InvokeAsync<bool>("confirm", confirmacion))
        {
            await Http.PutAsJsonAsync($"api/Citas/{CitaId}", citaAceptada);
            citas = await getCitas();
        }
    }

    private async Task GetClaimsPrincipalData()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

            _authMessage = $"{user.Identity.Name} is authenticated.";
            _claims = user.Claims;
            _userId = user.FindFirst(c => c.Type == "sub")?.Value;
    }

    private async Task<List<Cita>> getCitas()
    {
        List<Cita> _citas = new List<Cita>();
        try
        {
            _citas = await Http.GetFromJsonAsync<List<Cita>>($"api/Citas/ByMedico/{_userId}");

            foreach(var cita in _citas)
            {
                if (cita.Paciente == null)
                {
                    cita.Paciente= await Http.GetFromJsonAsync<Paciente>($"api/Pacientes/{cita.PacienteId}");
                }
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

        return _citas;
    }
}